<form [formGroup]="form" class="form-container mat-typography">
    <p>
        <mat-form-field>
            <input matInput placeholder="Bundesland" aria-label="State" [matAutocomplete]="auto" formControlName="bundesland">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <span>{{state.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </p>
    <p>
        <span *ngIf="bundesland">Grunderwerbssteuer: {{selectedSteuersatz | percent:'1.2-2':'de'}}</span>
    </p>
    <p>
        <span *ngIf="bundesland">Makler: {{selectedMaklerProvisionKaeufer | percent:'1.2-2':'de'}}</span>
    </p>
    <p>
        <span *ngIf="bundesland">Notar: {{'0.015' | percent:'1.2-2':'de'}}</span>
    </p>
    <p>
        <span *ngIf="bundesland">Grundbuch Amt: {{'0.005' | percent:'1.2-2':'de'}}</span>
    </p>
    <p>
        <span *ngIf="bundesland">Sonstige: {{'0.000' | percent:'1.2-2':'de'}}</span>
    </p>
    <div>
        <p>Deine Kaufnebenkosten: {{nebenkosten  | number:'1.0-0':'de'}} €</p>
    </div>
    <div>
        <button mat-raised-button color="accent" matStepperNext>Weiter</button>
    </div>
</form>