<form [formGroup]="form" class="form-container">
    <p>
        <mat-form-field floatLabel="always" appearance="standard">
            <mat-label>Kaufpreis (€)</mat-label>
            <input matInput formControlName="kaufpreis" required>
            <span matSuffix>€</span>
        </mat-form-field>
        <span *ngIf="pricePerSquareMeter" class="second-column">{{pricePerSquareMeter | number:'1.0-0':'de'}} €/m²</span>
    </p>
    <p>
        <mat-form-field floatLabel="always" appearance="standard">
            <mat-label>Wohnfläche (m²)</mat-label>
            <input matInput formControlName="wohnflaeche" required>
            <span matSuffix>m²</span>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field floatLabel="always" appearance="standard">
            <mat-label>Kaltmiete (€)</mat-label>
            <input matInput formControlName="monatsNettoKaltmiete" required>
            <span matSuffix>€</span>
        </mat-form-field>
    </p>
    <p>
        <span *ngIf="bruttoMietRendite > 0">Bruttomietrendite: {{bruttoMietRendite | percent:'1.2-2':'de'}}</span>
    </p>
    <div>
        <button mat-raised-button color="accent" matStepperNext>Weiter</button>
    </div>
</form>