/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.second-column {
	padding-left: 40px;
}