<mat-toolbar>Display some context relevant infos</mat-toolbar>
<mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="priceRentalfee.formPriceRentalfee">
        <ng-template matStepLabel>Kaufpreis</ng-template>
        <imc-kaufpreis-miete [selectedImmoInvestment]="selectedImmoInvestment" #priceRentalfee></imc-kaufpreis-miete>
    </mat-step>
    <mat-step [stepControl]="preisnebenkosten.formPreisnebenkosten">
        <ng-template matStepLabel>Nebenkosten</ng-template>
        <imc-preisnebenkosten [selectedImmoInvestment]="selectedImmoInvestment" #preisnebenkosten></imc-preisnebenkosten>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>